/* violet #905cfa 
violet clair rgb(195 165 246)
orange #d58137
*/
/* Cards  */
.card {
  width: 18rem;
  height: 90%;
  margin: 10;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-img-top {
  height: 250px;
}

/* Boutons */
.btn-primary:hover {
  color: #fff;
  background-color: #d58137;
  border-color: #d58137;
}
.btn-primary {
  background-color: #905cfa;
  border-color: #905cfa;
}
.btn-danger {
  width: 22%;
  background-color: rgb(195 165 246);
  border-color: rgb(195 165 246);
  line-height: 1;
}
#commander {
  background-color: lightgray;
}
/* Header  */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #905cfa;
}
.nav-link {
  color: #905cfa;
}
.produit {
  display: flex;
  justify-content: center;
}

/* Panier.html */

.panier {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.rowProduits {
  width: 30%;
}
.row {
  padding: 10px 10px 10px 10px;
}
.cart-quantity-input {
  width: 30%;
}
.cart-column {
  width: 20%;
}

.nomForm {
  width: 50%;
  margin-right: 5%;
}
.nameBox {
  display: flex;
}
/* Produit.html  */
.priceButtonBox {
  display: flex;
  justify-content: space-around;
}

.cartCard {
  width: 90%;
}
/*  stop */

.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;

  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}

.cart {
  width: 61%;
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  width: 39%;
  background-color: rgb(195 165 246);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
